<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrmPluginAttributes" version="1.0.0.3" targetFramework="net462" />
  <package id="Dynamics.Crm.Sdk.Clean" version="7.1.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
</packages>